<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
  <h1>TP PWeb-2 : Découverte des Observables</h1>
  <h3>hello</h3>
  <div> Ouvrir la console pour visualiser les messages produits par l'exécution du fichier <span style="font-family: Courier">index.ts</span></div>
  <br>
  <hr>
  <br>
  <!-- ... -->
  <h3>La chanson</h3>
  <ul id="chanson"></ul>
  <br>
  <hr>
  <br>
  <h3>flux à partir de données statiques</h3>
  <div> Ouvrir la console pour visualiser les messages produits par l'exécution du fichier <span style="font-family: Courier">index.ts</span></div>
  <br>
  <hr>
  <br>
</body>

</html>
